@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@import "../../public/assets/libs/slick/slick.css";
@import "../../public/assets/libs/uikit/uikit.min.css";
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

.barlow-condensed-regular {
    font-family: "Montserrat", sans-serif;
}

.barlow-condensed-medium {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
}

.vollkorn {
    font-family: "Vollkorn", serif;
}

.slick-banner {
    .slick-dots {
        bottom: 20px !important;
    }
}

.max-w-7xl {
    max-width: 1470px;
}

.slick-initialized {
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        margin: 0;

        list-style-type: none;

        li {
            margin: 0 3px;
            &.slick-active {
                border: 1px solid #c7a97f;
                border-radius: 100px;
                padding: 2px;
            }
        }

        button {
            display: block;
            width: 10px;
            height: 10px;
            padding: 0;
            border-radius: 100%;
            background-color: #403f3f;
            padding: 1px;
            font-size: 0px;
            cursor: pointer;
        }

        li.slick-active button {
            background-color: #c7a97f;
        }
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #c4a47c;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.3s ease;
        &.slick-disabled {
            opacity: 0.6;
        }
    }

    .slick-prev {
        left: -50px;
    }

    .slick-next {
        right: -50px;
    }

    @media screen and (max-width: 1240px) {
        .slick-prev,
        .slick-next {
            width: 50px;
            height: 50px;
            background-color: #c4a47c;
            border-radius: 0px;
            color: #0b1315;
        }
        .slick-prev {
            left: 16px;
        }

        .slick-next {
            right: 16px;
        }
        .slick-dots {
            bottom: -30px;
        }
    }

    @media screen and (max-width: 768px) {
        .slick-prev,
        .slick-next {
            width: 30px;
            height: 30px;
            background-color: #c4a47c;
            border-radius: 0px;
            color: #0b1315;
        }
        .slick-prev {
            left: 16px;
        }

        .slick-next {
            right: 16px;
        }
        .slick-dots {
            bottom: -30px;
        }
    }
}

.slick-service .slick-track {
    gap: 140px;
    display: flex !important;
}

@media (max-width: 768px) {
    .slick-service .slick-track {
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .slick-service .slick-track {
        gap: 16px;
    }
}

.slider {
    position: relative;
}

.range-slider {
    height: 4px;
    .range-slider__range {
        background-color: #ef233c;
    }
    .range-slider__thumb {
        width: 16px;
        height: 16px;
        border: 2px solid #de8b95;
        background-color: #ef233c;
    }
}

.content-article img {
    object-fit: cover;
    display: inline;
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .content-article img {
        object-fit: contain;
        height: auto !important;
    }
}
.content-article table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
    font-size: 14px;
    margin-top: 1rem;
    background-color: transparent;
}

.content-article table th,
.content-article table td {
    padding: 12px 16px;
    background-color: #f3f4f6;
    border-radius: 0px;
    text-align: left;
    vertical-align: middle;
    border: none;
    box-shadow: 0 0 0 1px #e5e7eb inset;
}
.content-article table tr:nth-child(odd) th,
.content-article table tr:nth-child(odd) td {
    background-color: #e5e7eb;
}

#category-toggle:hover > .absolute {
    display: block;
}
